{{ 'first_section.css' | asset_url | stylesheet_tag }}

<div class="container d-flex align-items-center justify-content-center flex-column">
  <div>
    lorem ipsum test 123 123 123 
  </div>
  <div>
    <img src="https://picsum.photos/200/300">
  </div>
  {% render 'FirstSnipped' %}
  
   <h1>
      {{ section.settings.deneme }}
   </h1>
</div>


<div class="all_products">
  {% if section.settings.stok %}
    {% for product in collections.all.products %}
      
      {% if product.available %}
        
        <div>
          {{ product.title }}
          <img src="{{ product.featured_image | img_url: '300x300' }}">
        </div>  
      {% endif %}
    {% endfor %}

  {% else %}
      {% for product in collections.all.products %}
      
        <div>
          {{ product.title }}
          <img src="{{ product.featured_image | img_url: '300x300' }}">
        </div>  

    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
          "type": "text",
          "id": "deneme",
          "label": "Deneme font"
        },
      {
        "type":"checkbox",
        "id":"stok",
        "label":"Stoğa göre sırala"
      }
    ],
    "presets": [
      {
        "name": "Test Section 1"
      }
    ],
    "blocks":[
      
    ]
  }
{% endschema %}

{% stylesheet %}
  .all_products{
    display:flex;
    margin:10px;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}